doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet", href="assets/css/edgrid.css")
		link(rel="stylesheet", href="assets/css/miEstilo.css")
		link(rel="stylesheet", href="assets/font-awesome-4.5.0/css/font-awesome.css")
		link(rel="image_src", href="http://cristianeto.github.io/assets/img/cristianeto.png")
		title Home | Cristianeto
	body.principal
		main.ed-container.full.cross-center.main-center
			.ed-item.movil-1-2.main-center
				img(src="assets/img/cristianeto.png", alt="Foto Cristianeto", class="fotoCristianeto")			
			.ed-item.main-center.titulo-pagina Página en construcción...
			<hr>
			.ed-item
				.ed-container.full.main-center
					.ed-item.movil-1-8.main-center 
						.ed-container.redSocial Encuentranos en:
					.ed-item.movil-1-8.main-center 
						.ed-container.redSocial
						a(href="https://facebook.com/criss9064", title="Facebook", target="_blank") 
							i.fa.fa-facebook-official.fa-3x
					.ed-item.movil-1-8.main-center
						.ed-container.redSocial
						a(href="https://twitter.com/Cristianetoo", title="Twitter", target="_blank") 
							i.fa.fa-twitter-square.fa-3x
					.ed-item.movil-1-8.main-center
						.ed-container.redSocial
						a(href="https://instagram.com/cristianetoo", title="Instagram", target="_blank") 
							i.fa.fa-instagram.fa-3x