doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		meta(name="description" content="Desarrollador de Software")
		meta(name="author" content="Cristianeto")
		meta(name="author" content="Cristian Guamán")
		meta(name="keywords" content="cristianeto, desarrollo, sofware, aplicacion, web, responsive")
		meta(name="robots" content="index,follow")
		<!-- Geolocalización-->	
		meta(name="geo.region" content="EC-H")
		meta(name="geo.placename" content="Riobamba")
		meta(name="geo.position" content="-1.66599,-78.69264")
		<!-- Google -->
		meta(itemprop="name" content="Página Oficial Cristianeto")
		meta(itemprop="description" content="Desarrollador de Software")
		meta(itemprop="image" content="assets/img/cristianeto.png")
		meta(itemprop="author" content="Cristianeto")
		<!-- Open Graph data (Facebook) -->
		meta(property="og:title" content="Página Oficial Cristianeto")
		meta(property="og:url" content="http://cristianeto.github.io")
		meta(property="og:image" content="http://cristianeto.github.io/assets/img/cristianeto.png")
		meta(property="og:description" content="Desarrollador de Software")
		meta(property="og:site_name" content="cristianeto.github.io")
		<!-- Twitter -->	
		meta(name="twitter:card" content="summary_large_image")
		meta(name="twitter:site" content="@cristianetoo")
		meta(name="twitter:title" content="Página de Cristianeto")
		meta(name="twitter:description" content="Desarrollador de Software")
		meta(name="twitter:creator" content="@autor")
		meta(name="twitter:image:src" content="assets/img/cristianeto.png")
		<!-- Estilos-->
		link(rel="stylesheet", href="assets/css/edgrid.css")
		link(rel="stylesheet", href="assets/css/miEstilo.css")
		link(rel="stylesheet", href="assets/font-awesome-4.5.0/css/font-awesome.css")
		title Home | Cristianeto
	body.principal
		main.ed-container.full.cross-center.main-center
			.ed-item.base-1-2.main-center
				img(rel="image_src" src="assets/img/cristianeto2.png", alt="Foto Cristianeto", class="fotoCristianeto circulo")			
			.ed-item.main-center.titulo-pagina Página en construcción...
			.ed-item
				.ed-container.full.main-center
					.ed-item.base.movil-3-8.tablet-2-8.main-center 
						.ed-container.redSocial 
							h3 Encuéntranos en:
					.ed-item.base-2-8.movil-1-8.main-center 
						.ed-container.redSocial
						a(href="https://facebook.com/criss9064", title="Facebook", target="_blank") 
							i.fa.fa-facebook-official.fa-3x
					.ed-item.base-2-8.movil-1-8.main-center
						.ed-container.redSocial
						a(href="https://twitter.com/Cristianetoo", title="Twitter", target="_blank") 
							i.fa.fa-twitter-square.fa-3x
					.ed-item.base-2-8.movil-1-8.main-center
						.ed-container.redSocial
						a(href="https://instagram.com/cristianetoo", title="Instagram", target="_blank") 
							i.fa.fa-instagram.fa-3x
					.ed-item.base-2-8.movil-1-8.main-center
						.ed-container.redSocial
						a(href="https://www.pinterest.com/cristianetoo", title="Pinterest", target="_blank") 
							i.fa.fa-pinterest.fa-3x
