doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet", href="assets/css/edgrid.css")
		link(rel="stylesheet", href="assets/css/miEstilo.css")
		title Home | Cristianeto
	body.principal
		main.cross-end.main-end
			.main-container
				.main-item.titulo-pagina Página en construcción...